{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
</head>

<body style="color:rgb(8,112,217);">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="padding-top:0px;padding-bottom:1px;">
        <div class="container"><a class="navbar-brand logo" href="#">Buckets App</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login' %}">login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page" style="padding-top:49px;">
        <section class="clean-block clean-hero" style="background-image:url(&quot;static/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>Bucket Lists App</h2>
                <p>Keep track of things you want to do before you 'kick the bucket', before its too late.&nbsp;<br></p>
                <a href="{% url 'register' %}"><button class="btn btn-outline-light btn-lg" type="button">Get Started</button></a></div>
        </section>
    </main>
    <footer class="page-footer dark" style="background-image:url(&quot;static/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);padding-top:0px;padding-bottom:0px;">
        <div class="footer-copyright" style="padding-top:0px;margin-top:0px;">
            <p>© 2018 njanelabs</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.min.js' %}"></script>
</body>
</html>