{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Register{% endblock %}</title>
</head>

<body>
    {% block pagecontent %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="padding-top:0px;padding-bottom:1px;">
        <div class="container">
            <a class="navbar-brand logo" href="#">Buckets App</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page login-page" style="padding-top:47px;">
        <section class="clean-block clean-form dark">
            <div class="container" style="margin-left:16px;padding-bottom:47px;">
                <div class="block-heading" style="padding-top:47px;margin-bottom:24px;">
                    <h2 class="text-info">Log In</h2>
                    <p>Log in to your account</p>
                </div>
                <form>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control item" type="text" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" id="password">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="checkbox">
                            <label class="form-check-label" for="checkbox">Remember me</label>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block" type="button">Log In</button>
                </form>
            </div>
        </section>
    </main>
    <footer class="page-footer dark" style="color:rgba(9, 162, 255, 0.85);padding-top:0px;padding-bottom:0px;">
        <div class="footer-copyright" style="padding-top:0px;margin-top:0px;">
            <p>© 2018 njanelabs</p>
        </div>
    </footer>
    {% endblock %}
</body>

</html>